.list {
  display: flex;
  padding: 10px;
  flex: 1 1 auto;
  flex-direction: column;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-bottom: 15px;

    &__name {
      width: 50px;
      height: 50px;
    }
  }
}